

<!--
    Author: Chunhai Yang
    Date: 4/29/2020
    This page contains some basic information about services on the website
    and "Create a Profile"
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>My Dating Website</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <!-- External CSS -->
    <link href="styles/styles.css" rel="stylesheet" type="text/css">


</head>

<body class="mb-3">

<!-- Navigation Bar -->
<nav class="navbar-nav mb-2">
    <a class="navbar-brand">Rose's Dating Website</a>
</nav>

<div class="container">
    <div class="row">
        <div class="col-6">
            <section>
                <h1 class="text-center">Rose's Dating Website</h1>
                <p class="lead text-center">Welcome to Rose's dating website!We'll lead you to your Mr or Ms right!</p>
                <p>At <span class="font-weight-bold">Rose's Dating Website</span> you will meet other like minded individuals.
                    We have the highest success rate of couples on the web. Users are matched by interest and location.
                    Find out why so many others have found love on our site!</p>
            </section>

            <section>
                <h4 class="text-center">Hear what our users are saying about us.</h4>
                <hr>
                <blockquote class="mx-4">
                    <p>"I met the love of my life after only a month!" <span class="font-italic">- Mary</span></p>

                    <p>"It was so easy to set up a profile and start meeting people. I didn't
                        realize how many others were looking for love in my area." <span class="font-italic">- John Smith</span></p>

                    <p>"Just try it! You'll never be the same!" <span class="font-italic">- Sarah</span></p>
                </blockquote> <!-- quotes -->
                <hr>
            </section> <!-- Quotes Section -->
            <div class="text-center">
                <a class="btn btn-info">Create a Profile!</a>
            </div> <!-- Button -->

        </div>

    </div> <!-- row -->
</div> <!-- container -->


</body>
</html>