<!--
    Author: Chunhai Yang
    Date: 5/12/2020
    This profile page contains interests options

-->
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- fontawesome 5 -->
    <script src="https://kit.fontawesome.com/d6ad110c86.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="styles/styles.css">

    <title>My Dating Website</title>

</head>
<body>
<div class="card border-light mb-3">
    <div class="card-header"><a href="/328/dating" class="text-dark text-decoration-none">My Dating Website</a></div>
</div><div class="card container">
    <div class="card-body">
        <h1>Interests</h1>
        <hr>
        <form id="interests" action="#" method="post" class="row">
            <div class="container">
                <label class="font-weight-bold">In-door Interests</label>

                <div class="row">
                    <div class="col-6 col-sm-3">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="tv"
                                   name="interests[]" value="tv">
                            <label class="custom-control-label" for="tv">tv</label>
                        </div>
                    </div>
                    <div class="col-6 col-sm-3">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="movies"
                                   name="interests[]" value="movies">
                            <label class="custom-control-label" for="movies">movies</label>
                        </div>
                    </div>
                    <div class="col-6 col-sm-3">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="cooking"
                                   name="interests[]" value="cooking">
                            <label class="custom-control-label" for="cooking">cooking</label>
                        </div>
                    </div>
                    <div class="col-6 col-sm-3">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="drawing"
                                   name="interests[]" value="drawing">
                            <label class="custom-control-label" for="drawing">drawing</label>
                        </div>
                    </div>
                    <div class="col-6 col-sm-3">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="puzzles"
                                   name="interests[]" value="puzzles">
                            <label class="custom-control-label" for="puzzles">puzzles</label>
                        </div>
                    </div>
                    <div class="col-6 col-sm-3">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="reading"
                                   name="interests[]" value="reading">
                            <label class="custom-control-label" for="reading">reading</label>
                        </div>
                    </div>
                    <div class="col-6 col-sm-3">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="singing"
                                   name="interests[]" value="singing">
                            <label class="custom-control-label" for="singing">singing</label>
                        </div>
                    </div>
                    <div class="col-6 col-sm-3">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="sleeping"
                                   name="interests[]" value="sleeping">
                            <label class="custom-control-label" for="sleeping">sleeping</label>
                        </div>
                    </div>
                </div>

            </div>

            <br><br><br><br>

            <div class="container">
                <label class="font-weight-bold">Out-door Interests</label>

                <div class="row">
                    <div class="col-6 col-sm-3">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="hiking"
                                   name="interests[]" value="hiking">
                            <label class="custom-control-label" for="hiking">hiking</label>
                        </div>
                    </div>
                    <div class="col-6 col-sm-3">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="biking"
                                   name="interests[]" value="biking">
                            <label class="custom-control-label" for="biking">biking</label>
                        </div>
                    </div>
                    <div class="col-6 col-sm-3">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="swimming"
                                   name="interests[]" value="swimming">
                            <label class="custom-control-label" for="swimming">swimming</label>
                        </div>
                    </div>
                    <div class="col-6 col-sm-3">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="collecting"
                                   name="interests[]" value="collecting">
                            <label class="custom-control-label" for="collecting">collecting</label>
                        </div>
                    </div>
                    <div class="col-6 col-sm-3">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="walking"
                                   name="interests[]" value="walking">
                            <label class="custom-control-label" for="walking">walking</label>
                        </div>
                    </div>
                    <div class="col-6 col-sm-3">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="climbing"
                                   name="interests[]" value="climbing">
                            <label class="custom-control-label" for="climbing">climbing</label>
                        </div>
                    </div>
                </div>

            </div>
        </form>

        <div class="float-right p-2">
            <button type="submit" form="interests" class="btn btn-primary">Next ></button>
        </div>

    </div>
</div>
</body>
</html>