<!--
    Author: Chunhai Yang
    Date: 5/12/2020
    This profile page contains some personal information : email, state and seeking gender

-->
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- fontawesome 5 -->
    <script src="https://kit.fontawesome.com/d6ad110c86.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="styles/styles.css">

    <title>My Dating Website</title>


</head>
<body>
<div class="card border-light mb-3">
    <div class="card-header"><a class="text-dark text-decoration-none">My Dating Website</a></div>
</div>
<div class="card container">
    <div class="card-body">
        <h1>Profile</h1>
        <hr>
        <form id="profile" action="#" method="post" class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="email" class="font-weight-bold">Email</label>
                    <input type="text" class="form-control" id="email" name="email">
                    <span class="err">
                                  <check if="{{ isset(@errors['email']) }}">
                                        {{ @errors['email'] }}
                                  </check>
                            </span>
                </div>

                <div class="form-group">
                    <label for="state" class="font-weight-bold">State</label>
                    <select class="form-control" id="state" name="state">
                        <option value="---Please Select---"> ---Please Select---</option>

                        <option value="OR"> Oregon</option>
                        <option value="CA"> California</option>
                        <option value="WA"> Washington</option>

                    </select>
                </div>


                <div class="form-group">
                    <label class="font-weight-bold">Seeking</label><br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="seeking" id="male" value="Male">
                        <label for="male" class="form-check-label"> Male&nbsp;&nbsp;&nbsp;&nbsp;</label>
                        <input class="form-check-input" type="radio" name="seeking" id="female" value="Female">
                        <label for="female" class="form-check-label"> Female&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    </div>
                </div>

            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <label for="biography" class="font-weight-bold">Biography</label>
                    <textarea class="form-control" rows="5" id="biography" name="biography">I'm...</textarea>
                </div>
            </div>

        </form>

        <div class="float-right p-2">
            <button type="submit" form="profile" class="btn btn-primary">Next ></button>
        </div>

    </div>
</div>