<!--
    Author: Chunhai Yang
    Date: 5/12/2020
    This is summary page

-->
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- fontawesome 5 -->
    <script src="https://kit.fontawesome.com/d6ad110c86.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="styles/styles.css">

    <title>My Dating Website</title>

</head>
<body>
<div class="card border-light mb-3">
    <div class="card-header"><a class="text-dark text-decoration-none">My Dating Website</a></div>
</div>
<div class="card container">
    <div class="card-body">
        <div id="summary" class="row">
            <div class="col-lg-6">

                <div class="card">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Name:  </li>
                        <li class="list-group-item">Gender: </li>
                        <li class="list-group-item">Age: </li>
                        <li class="list-group-item">Phone: </li>
                        <li class="list-group-item">Email: </li>
                        <li class="list-group-item">State: </li>
                        <li class="list-group-item">Seeking: </li>
                        <li class="list-group-item">Interests:</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
