<!--
    Author: Chunhai Yang
    Date: 5/12/2020
    This is summary page

-->
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- fontawesome 5 -->
    <script src="https://kit.fontawesome.com/d6ad110c86.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="styles/styles.css">

    <title>My Dating Website</title>

</head>
<body>
<div class="card border-light mb-3">
    <div class="card-header"><a class="text-dark text-decoration-none">My Dating Website</a></div>
</div>
<div class="card container">
    <div class="card-body">
        <div id="summary" class="row">
            <div class="col-lg-6">

                <div class="card">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Name: {{ @SESSION['fName']}} {{ @SESSION['lName']}}  </li>
                        <li class="list-group-item">Gender: {{ @SESSION['gender']}}</li>
                        <li class="list-group-item">Age: {{ @SESSION['age']}}</li>
                        <li class="list-group-item">Phone: {{ @SESSION['phoneNumber']}}</li>
                        <li class="list-group-item">Email: {{ @SESSION['email']}}</li>
                        <li class="list-group-item">State: {{ @SESSION['state']}}</li>
                        <li class="list-group-item">Seeking: {{ @SESSION['seeking']}}</li>
                             <check if="{{ isset(@SESSION['outdoors']) }}">
                                 <li class="list-group-item">  Outdoors:  {{ implode(@SESSION['outdoors'], ", ") }}</li>
                             </check>
                             <check if="{{ isset(@SESSION['indoors']) }}">
                                 <li class="list-group-item">  Indoors:  {{ implode(@SESSION['indoors'], ", ") }}</li>
                             </check>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <button type="submit"  class="btn btn-primary">Contact Me!</button>
    </div>
</div>
</body>
</html>
